# ignore Maven generated target folders
~
target
.cache/

# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea

# ignore NetBeans files
nbactions.xml
nb-configuration.xml
catalog.xml
